*{
    margin: 0px;
}
.content{
    margin: auto;
    background-color: rgba(241, 241, 241, 1);
    width: 100%;
    margin-bottom: 10px;
}
span{
    display: block;
    width: 100%;
    height: 149px;
    background-color: rgba(242, 141, 0, 1);
    text-align: center;
}
span img{
    padding-top: 30px;
    width: 136px;
    height: 80px;
}
figure img{
    width: 100%;
    height: 98%;
    padding: 0px; 
}
main{
    padding: 0px 9%;
}
h1{
    color: rgba(242, 141, 0, 1);
    padding-top: 60px;
}
p{
    padding-top: 60px;
    font-size: 22px;
    line-height: 25.83px;
}
hr{
    width: 2.604166666666667%;
    height: 4px;
    background-color: rgba(242, 141, 0, 1);
    border: none;
    margin-top: 10px;
}
form{
    height: 69%;
    /* background-color: ; */
}
form input{
    display: block;
    width: 50%;
    height: 59px;
    margin-top: 52px;
    border: none;
    border-radius: 10px;
    padding-left: 5%;
}
input[type='submit']{
    padding-left: 0.4%;
    min-width: none;
    max-width: 180px;
    background-color: rgba(242, 141, 0, 1);
    border-radius: 30px;
    color: white;
    font-weight: 400;
    font-size: 16px;
}
footer{
    margin-top: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 3% 0px;
    font-weight: 600;
    font-size: larger;
}
